.container-header{
  text-align:center;

}
.jumbotron{
background-color: #ADD7AD;
margin-bottom:0px;
}
#menulaterale{
  background-color: #3C7474;
}
#text-date{
  font-style: oblique;
  font-weight: bold;
  font-family: monospace;
}
#subtitle{
  font-style: oblique;
  font-weight: bold;
  font-family: cursive;
  margin-bottom:1.3em;
}

a{
  color:#0056b3;
}

.icon-set{
    background: #237f52;
}

.fa {
    color: #fff;
}

.nav > li.facebook > a:hover {
    background: #3b5998 !important;
}

.nav > li.twitter > a:hover {
    background: #55acee !important;
}

.nav > li.instagram > a:hover {
    background: #405de6;
    background: -webkit-linear-gradient(left top, #405de6, #833ab4, #fd1d1d, #f56040, #fcaf45);
    background: -o-linear-gradient(bottom right, #405de6, #833ab4, #fd1d1d, #f56040, #fcaf45);
    background: -moz-linear-gradient(bottom right, #405de6, #833ab4, #fd1d1d, #f56040, #fcaf45);
    background: linear-gradient(to bottom right, #405de6, #833ab4, #fd1d1d, #f56040, #fcaf45);
}

.nav > li.linkedin > a:hover {
    background: #0077b5 !important;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
